<% include partials/blogHeader %>


<% allPosts.forEach(function(post){ %>
	<h3> <%= post.title %> </h3>
	<img src="<%= post.image %>" alt="">
	<p> <%= post.body %> </p>

<% }) %>

<% include partials/blogFooter %>

