<% include partials/header %>

<header>
	<div class='jumbotron'>
		<h1> Welcome to Campground </h1>
		<p><a href='/campgrounds'>List of all camps available</a></p>
	</div>

</header>


<% include partials/footer %>