<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Espace Membres - Echanges de créneaux</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>Bienvenue sur l'outil d'echange de créneaux</h1>

	<h3>Détails du créneau : <%= exchangeIDVal %></h3>

</body>
</html>